body{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Set z-index lower than fieldset to ensure it's in the background */
}

legend
{
    color: #0707e9;
}
fieldset
{
    margin-top: 25px;
    width: 35%;
    height: 86%;
    margin-left: 33%;
    border-radius: 10px;
    background-color: #ddd9d9;
    color: #330000;
    z-index: 2; /*for diplaying text on image or header*/
    position: absolute;
}

input
{
    height: 25px;
    margin-bottom: 10px;
    width: 135%;
    margin-top: 10px;
}
textarea{
    margin-bottom: 10px;
    width: 135%;
}
select
{
    margin-bottom: 10px;
    width: 135%;
    height: 25px;
}

table
{
    margin-left: 50px;
}

.btn1
{
    color: rgb(35, 41, 41);
    margin-top: 15px;
    height: 25px;
}